@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: '-apple-system', 'Proxima Nova', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, 'PT Mono', monospace;
}

.hoverable :hover {
  cursor: pointer;
}
